@charset "UTF-8";
/*===========================NAVBAR ================================================================================*/
.navbar {
  color: black;
  background-color: black;
  border-bottom: white;
  border-style: solid;
  border-width: 0.0625rem;
  padding: 20px 0px;
}
.navbar .nav-container {
  color: black;
  background-color: black;
  margin-right: 1rem;
  display: flex;
  gap: 1.5rem;
}
.navbar .nav-container .navlogo {
  margin-left: 0.5rem;
}
.navbar .nav-container .navbar-toggler {
  color: #ffffff;
  justify-content: right;
}
.navbar .nav-container .navbar-collapse {
  justify-content: right;
}
.navbar .nav-container .navbar-collapse .nav-link.active {
  font-size: 1.25rem;
  margin: 0rem 0.7rem;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
    display: flex;
  }
}
/*=============================================================================================================================
===================================ESTILO FOOTER =================================================================================*/
.footer {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border-top: white;
  border-style: solid;
  border-width: 0.0625rem;
}
.footer .nav-link.active {
  font-size: 1.25rem;
  margin: 0rem 0.7rem;
  color: #ffffff;
}
.footer .f-creditos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer .f-creditos .f-creditos-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
  text-decoration: none;
}
.footer .f-creditos .f-creditos-container .f-creditos-container-links {
  display: flex;
  gap: 1.5rem;
}

@media (max-width: 576px) {
  .creditosFooter {
    margin-bottom: 2rem;
  }
  .containerCreditos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 425px) {
  .creditosFooter {
    margin-bottom: 2rem;
  }
  .containerCreditos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
/*=============================================================================================================================
===================================RESET HTML=================================================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/*=============================================================================================================================
===================================CONFIGURACIONES GENERALES=================================================================================*/
h1 {
  color: white;
  font-size: 3.815rem; /* 56px / 16 = 3.5rem */
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: left;
  display: inline;
}

h2 {
  color: white;
  font-size: 3.052rem; /* 48px / 16 = 3rem */
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h3 {
  color: white;
  font-size: 2.441rem; /* 40px / 16 = 2.5rem */
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

h4 {
  color: white;
  font-size: 1.953rem; /* 32px / 16 = 2rem */
  font-style: normal;
  font-weight: 700;
}

h5 {
  color: white;
  font-size: 1.563rem; /* 24px / 16 = 1.5rem */
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

h6 {
  color: #ffffff;
  font-size: 1.25rem;
}

P, label, a {
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

main {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container-fluid {
  background-color: black;
}

.container {
  margin: 0;
}

/*================================ PAGE INDEX =================================================================================*/
/*===================================================================
======================SECTION BANNER=========================*/
.sec-banner {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  padding: 5rem 3rem;
}
.sec-banner .sec-banner-container {
  margin: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}
.sec-banner .sec-banner-container .container-content-banner {
  width: 50%;
}
.sec-banner .sec-banner-container .container-content-banner .banner-container {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sec-banner .sec-banner-container .container-content-banner .banner-container .subtitle-banner {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.sec-banner .sec-banner-container .container-img-banner {
  width: 50%;
}

@media (max-width: 1024px) {
  .sec-banner {
    display: flex;
    justify-content: center;
    height: 80vh;
  }
  .sec-banner .sec-banner-container {
    width: 100%;
    height: 100%;
    margin: 0;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .sec-banner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 4rem 2rem 3rem 2rem;
    margin-bottom: 2rem;
  }
  .sec-banner .sec-banner-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }
  .sec-banner .sec-banner-container .container-content-banner {
    width: 100%;
  }
  .sec-banner .sec-banner-container .container-content-banner .banner-container {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .sec-banner .sec-banner-container .container-content-banner .banner-container .title-banner {
    text-align: center;
  }
  .sec-banner .sec-banner-container .container-content-banner .banner-container .subtitle-banner {
    text-align: center;
  }
  .sec-banner .sec-banner-container .container-content-banner .container-button-banner {
    text-align: center;
  }
  .sec-banner .sec-banner-container .container-img-banner {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0;
  }
  .sec-banner .sec-banner-container .container-img-banner .img-fluid {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .sec-banner {
    padding: 3rem 1rem;
    margin: 0;
    height: auto;
  }
  .sec-banner .sec-banner-container {
    margin: 0;
  }
  .sec-banner .sec-banner-container .container-img-banner {
    width: 100%;
    margin: 0;
  }
}
/*===================================================================
==================SECTION HEADER=====================================*/
.sec-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
}
.sec-header .sec-header-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-header .sec-header-container .sec-header-container-content {
  font-size: 4.768rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 1024px) {
  .sec-header .sec-header-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .sec-header {
    padding: 3rem 2rem;
  }
  .sec-header .sec-header-container {
    width: 100%;
  }
  .sec-header .sec-header-container .sec-header-container-content {
    font-size: 64px;
  }
}
@media (max-width: 425px) {
  .sec-header {
    padding: 3rem 1rem;
  }
  .sec-header .sec-header-container {
    width: 100%;
  }
  .sec-header .sec-header-container .sec-header-container-content {
    font-size: 56px;
  }
}
/*===================================================================
==================FEATURES=========================*/
.sec-features {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}
.sec-features .sec-features-container {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.sec-features .sec-features-container .sec-features-container-img {
  padding: 0;
  width: 40%;
}
.sec-features .sec-features-container .sec-features-container-content {
  padding: 0;
  width: 60%;
}
.sec-features .sec-features-container .sec-features-container-content .content-steps {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item .step-number {
  width: 15.625rem;
  font-size: 6.5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}
.sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item .step-content {
  padding-top: 1rem;
  max-width: 100%;
}
.sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item .step-content .step-title {
  max-width: 100%;
  margin-bottom: 0.625rem;
}

@media (max-width: 768px) {
  .sec-features {
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .sec-features .sec-features-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .sec-features .sec-features-container .sec-features-container-img {
    width: 80%;
  }
  .sec-features .sec-features-container .sec-features-container-content {
    width: 100%;
    display: flex;
  }
}
@media (max-width: 425px) {
  .sec-features {
    padding: 3rem 1rem;
  }
  .sec-features .sec-features-container {
    gap: 4rem;
  }
  .sec-features .sec-features-container .sec-features-container-content {
    padding: 0;
  }
  .sec-features .sec-features-container .sec-features-container-content .content-steps {
    padding: 0;
  }
  .sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item {
    gap: 2rem;
  }
  .sec-features .sec-features-container .sec-features-container-content .content-steps .content-steps-item .step-content {
    padding-top: 1.8rem;
  }
}
/*===================================================================
================SECTION PORTFOLIO=========================*/
.sec-portfolio {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.sec-portfolio .container-title-Portfolio {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}
.sec-portfolio .content-portfolio {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.sec-portfolio .content-portfolio .content-portfolio-grid {
  padding: 0;
  display: grid;
  grid-template-areas: "container-card1 container-card2" "container-card3 container-card4";
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
}
.sec-portfolio .content-portfolio .content-portfolio-grid .container-card1, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card2, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card3, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card4 {
  max-width: 35rem;
  padding-right: 0;
  background-color: transparent;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.03125rem solid white;
}
.sec-portfolio .content-portfolio .content-portfolio-grid .container-card1 .card-title, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card2 .card-title, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card3 .card-title, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card4 .card-title {
  color: white;
}
.sec-portfolio .content-portfolio .content-portfolio-grid .container-card1 .card-text-button, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card2 .card-text-button, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card3 .card-text-button, .sec-portfolio .content-portfolio .content-portfolio-grid .container-card4 .card-text-button {
  font-style: normal;
  font-weight: 400;
  height: 0.75rem;
  align-content: flex-start;
  color: #1890FF;
}

@media (max-width: 768px) {
  .sec-portfolio {
    padding: 3rem 2rem;
  }
  .sec-portfolio .container-title-Portfolio {
    gap: 1rem;
  }
  .sec-portfolio .content-portfolio .content-portfolio-grid {
    display: grid;
    grid-template-areas: "container-card1" "ccontainer-card2" "ccontainer-card3" "ccontainer-card4";
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .content-portfolio-grid {
    display: grid;
    grid-template-areas: "container-card1" "ccontainer-card2" "ccontainer-card3" "ccontainer-card4";
    column-gap: 3rem;
    row-gap: 2rem;
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .sec-portfolio {
    padding: 3rem 1rem;
  }
  .sec-portfolio .content-portfolio {
    padding-left: 0;
    padding-right: 0;
  }
  .sec-portfolio .content-portfolio .content-portfolio-grid {
    padding-left: 0;
    padding-right: 0;
  }
}
/*===================================================================
================INICIO SECTION PRICING INDEX=========================*/
#pricing {
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
#pricing .pricing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
#pricing .pricing-content {
  display: flex;
  align-items: center;
  gap: 3.125rem;
  align-self: stretch;
}
#pricing .pricing-content .pricing-content-card {
  background: #1890FF;
  border: 0.0625rem white solid;
  border-radius: var(--bs-border-radius);
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
#pricing .pricing-content .pricing-content-card .pricing-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
#pricing .pricing-content .pricing-content-card .pricing-card-title .card-price {
  font-size: 3.5rem;
  margin: 0px;
}
#pricing .pricing-content .pricing-content-card .card-content {
  padding: 1rem 0rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
  border-top: 0.0625rem white solid;
  border-bottom: 0.0625rem white solid;
}
#pricing .pricing-content .pricing-content-card .card-content .card-content-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin: 0px;
}
#pricing .pricing-content .pricing-content-card .card-content .card-content-list .card-item {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  align-self: stretch;
}
#pricing .pricing-content .pricing-content-card .card-content .card-content-list .card-item .item-text {
  margin: 0px;
}
#pricing .pricing-content .pricing-content-card .pricing-button {
  width: 100%;
  height: 3rem;
  border-radius: var(--bs-border-radius);
  display: flex;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
  font-size: 1.125rem;
}

@media (max-width: 768px) {
  #pricing {
    padding: 3rem 2rem;
  }
  #pricing .pricing-content {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  #pricing {
    padding: 3rem 1rem;
  }
  #pricing .pricing-content {
    padding-left: 0;
    padding-right: 0;
  }
  #pricing .pricing-content .card-content-list {
    padding: 0;
  }
}
@media (max-width: 425px) {
  .pricing-content {
    padding-left: 0;
    padding-right: 0;
  }
  .pricing-content .card-content-list {
    padding: 0;
  }
}
/*===================================================================
================INICIO SECTION FORMULARIO=========================*/
.sec-form {
  display: flex;
  padding: 5rem 3rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
}
.sec-form .sec-form-container {
  display: flex;
  align-items: flex-start;
  gap: 2.5rem;
  align-self: stretch;
}
.sec-form .sec-form-container .form-description {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
}
.sec-form .sec-form-container .form-description .form-title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}
.sec-form .sec-form-container .form-description .form-contact {
  display: flex;
  padding: 0.25rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.sec-form .sec-form-container .form-description .form-contact .form-contact-item {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.sec-form .sec-form-container .Form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1 0 0;
}
.sec-form .sec-form-container .Form .form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  align-self: stretch;
}
.sec-form .sec-form-container .Form .form-input .form-style {
  border-radius: var(--bs-border-radius);
  display: flex;
  height: 3rem;
  padding: 0.375rem;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;
}
.sec-form .sec-form-container .Form .form-input .form-style-textarea {
  margin-bottom: 1rem;
  border-radius: var(--bs-border-radius);
  display: flex;
  height: 9.75rem;
  padding: 0.375rem;
  align-items: flex-start;
  align-self: stretch;
}

@media (max-width: 768px) {
  .sec-form {
    padding: 3rem 2rem;
  }
  .sec-form .sec-form-container {
    display: flex;
    flex-direction: column;
  }
  .sec-form .sec-form-container .form-description {
    width: 100%;
  }
  .sec-form .sec-form-container .form-description .form-title-container {
    width: 100%;
    align-items: center;
  }
  .sec-form .sec-form-container .form-description .form-title-container .form-title {
    text-align: center;
  }
  .sec-form .sec-form-container .form-description .form-contact {
    width: 100%;
  }
  .sec-form .sec-form-container .form-description .form-contact .form-contact-item {
    width: 100%;
    justify-content: center;
  }
  .sec-form .sec-form-container .Form {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .sec-form {
    padding: 3rem 1rem;
  }
}
/*=============================================================================================================================
=================================== PAGE SERVICIOS =================================================================================*/
/*=============================================================================================================================
=================================== PAGE TEMPLATES =================================================================================*/
/*=============================================================================================================================
=================================== PAGE TEMPLATES =================================================================================*/
.sec-banner-tmplts {
  display: flex;
  padding: 5rem 3rem;
  flex-direction: column;
  align-items: center;
  gap: 2.25rem;
  overflow: hidden;
}
.sec-banner-tmplts .sec-banner-tmplts-container-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
}
.sec-banner-tmplts .sec-banner-tmplts-container-content .tmplts-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.sec-banner-tmplts .sec-banner-tmplts-container-content .tmplts-content .tmplts-title {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
}
.sec-banner-tmplts .sec-banner-tmplts-container-content .tmplts-content .tmplts-subtitle {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
}
.sec-banner-tmplts .sec-banner-tmplts-container-content .tmplts-container-button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.sec-banner-tmplts .sec-banner-tmplts-img {
  display: flex;
  height: 33.3125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.sec-banner-tmplts .sec-banner-tmplts-img .container-img {
  display: flex;
  height: 33.3125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.sec-banner-tmplts .sec-banner-tmplts-img .container-img .img-row-1 {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 24.444rem);
  margin-left: -10rem;
  column-gap: 1rem;
  grid-area: "imagBanner1 imagBanner2 imagBanner3 imagBanner4 imagBanner5 imagBanner6";
}
.sec-banner-tmplts .sec-banner-tmplts-img .container-img .img-row-2 {
  margin-left: -5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(6, 24.444rem);
  column-gap: 1rem;
  grid-area: "imagBanner7 imagBanner8 imagBanner9 imagBanner10 imagBanner11 imagBanner12";
}

/*===================================================================
==================SECTION HEADER TEMPLATES=====================================*/
.sec-header-tmplts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 3rem;
}
.sec-header-tmplts .sec-header-tmplts-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-header-tmplts .sec-header-tmplts-container .sec-header-tmplts-container-content {
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media (max-width: 576px) {
  .sec-header-tmplts .sec-header-tmplts-container .sec-header-tmplts-container-content {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
/*===================================================================
==================SECTION FEATURES TEMPLATES=====================================*/
.sec-features-tmplts {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}
.sec-features-tmplts .sec-features-tmplts-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  align-self: stretch;
}
.sec-features-tmplts .sec-features-tmplts-container .list-features {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  align-self: stretch;
}
.sec-features-tmplts .sec-features-tmplts-container .list-features .list-features-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

@media (max-width: 768px) {
  .sec-features-tmplts .sec-features-tmplts-container .list-features {
    display: flex;
    flex-direction: column;
  }
}
/*===================================================================
==================SECTION PLANTILLAS=====================================*/
.sec-plantillas {
  display: flex;
  padding: 4rem 3rem 7rem 3rem;
  justify-content: center;
  flex-direction: column;
  gap: 2.5rem;
}
.sec-plantillas .sec-plantillas-title-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-self: stretch;
  text-align: center;
}
.sec-plantillas .sec-plantillas-title-container .subtitle-plantillas {
  display: flex;
  justify-content: center;
}
.sec-plantillas .grid-plantillas {
  display: grid;
  grid-template-areas: "Plantilla1 Plantilla2 Plantilla3" "Plantilla4 Plantilla5 Plantilla6" "Plantilla7 Plantilla8 Plantilla9";
  column-gap: 3rem;
  row-gap: 3rem;
  justify-content: center;
}
.sec-plantillas .grid-plantillas .container-fluid {
  padding: 0;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla1 {
  padding: 0;
  grid-area: Plantilla1;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla1 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla1 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla2 {
  padding: 0;
  grid-area: Plantilla2;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla2 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla2 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla3 {
  padding: 0;
  grid-area: Plantilla3;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla3 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla3 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla4 {
  padding: 0;
  grid-area: Plantilla4;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla4 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla4 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla5 {
  padding: 0;
  grid-area: Plantilla5;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla5 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla5 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla6 {
  padding: 0;
  grid-area: Plantilla6;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla6 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla6 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla7 {
  padding: 0;
  grid-area: Plantilla7;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla7 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla7 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla8 {
  padding: 0;
  grid-area: Plantilla8;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla8 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla8 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla9 {
  padding: 0;
  grid-area: Plantilla9;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla9 .contentItemPlantillas {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.sec-plantillas .grid-plantillas .container-fluid .Plantilla9 .contentItemPlantillas .titleItemPlantillas {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .sec-plantillas .grid-plantillas {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-template-rows: repeat(5, auto); /* 5 filas */
    grid-template-areas: "Plantilla1 Plantilla2" "Plantilla3 Plantilla4" "Plantilla5 Plantilla6" "Plantilla7 Plantilla8" "Plantilla9 Plantilla10"; /* Repites el nombre de la última área para llenar la cuadrícula */
  }
}
@media (max-width: 576px) {
  .sec-plantillas .grid-plantillas {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* 2 columnas */
    grid-template-rows: repeat(9, auto); /* 5 filas */
    grid-template-areas: "Plantilla1" "Plantilla2" "Plantilla3" "Plantilla4" "Plantilla5" "Plantilla6" "Plantilla7" "Plantilla8" "Plantilla9";
    column-gap: 1rem;
    row-gap: 3rem;
    justify-content: center;
  }
}
.sectionBanner-Srv1 {
  display: flex;
  height: 80vh;
  align-items: center;
  padding: 7rem 3rem;
}

.container-banner-Srv1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
}

.banner-contenido-Srv1 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionBanner-Srv2 {
  display: flex;
  height: 80vh;
  align-items: center;
  padding: 7rem 3rem;
}

.container-banner-Srv2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
}

.banner-contenido-Srv2 {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-Pricing {
  padding: 7rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

.tituloPrincing {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.textoPricing {
  margin: 0;
}

.contenidoPricing {
  display: flex;
  align-items: center;
  gap: 4rem;
  align-items: flex-start;
}

.listaDescripcion {
  display: flex;
  padding: 2rem 0rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}

.itemLista {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  align-self: stretch;
}

@media (max-width: 1024px) {
  .contenidoPricing {
    display: flex;
    align-items: center;
    gap: 2rem;
    align-items: flex-start;
  }
  .detallePricing {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .sectionBanner-Srv1, .sectionBanner-Srv2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 3rem;
  }
  .container-banner-Srv1, .container-banner-Srv2 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-contenido-Srv1 {
    justify-content: center;
  }
  .text-banner-Srv1, .text-banner-Srv2 {
    text-align: center;
  }
  .section-Pricing {
    padding: 4rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
}
@media (max-width: 576px) {
  .sectionBanner-Srv1, .sectionBanner-Srv2 {
    padding: 3.5rem 1.5rem;
  }
  .section-Pricing {
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 425px) {
  .sectionBanner-Srv1, .sectionBanner-Srv2 {
    padding: 3.5rem 1rem;
  }
  .section-Pricing {
    padding: 2rem 1rem;
  }
}
/*=============================================================================================================================
=================================== PAGE FAQ =================================================================================*/
.sectionFaq {
  padding: 7rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5rem;
}

.containerTitleFaq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.containerFaq {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.itemFaq {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  align-self: stretch;
  padding-top: 1.5rem;
  border-top: 0.0625rem white solid;
}

.preguntaFaq {
  font-size: 1.3125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width: 50%;
}

.respuestaFaq {
  width: 50%;
}

.containerHelp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.contentHelp {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  align-self: stretch;
}

.buttonHelp {
  background-color: #1890FF;
  color: white;
  font-size: 1rem;
  padding: 0.625rem 0.9375rem;
  border-radius: 0.625rem;
  justify-content: center;
  height: 3rem;
  text-decoration: none;
}

/*=============================================================================================================================
=================================== PAGE CONTACTO =================================================================================*/
.sectionBannerContacto {
  display: flex;
  height: 80vh;
  align-items: center;
  padding: 7rem 1rem;
}

.bannerContainerContacto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 2rem;
}

.bannerContenidoContacto {
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.subtitle-bannerContacto {
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.contactoFormulario {
  width: 60%;
  display: flex;
  padding: 0.25rem 0;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .sectionBannerContacto {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    padding: 3rem 1rem;
  }
  .bannerContainerContacto {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bannerContenidoContacto {
    justify-content: center;
  }
  .title-bannerContacto {
    text-align: center;
  }
  .subtitle-bannerContacto {
    text-align: center;
  }
  .container-button-bannerContacto {
    text-align: center;
  }
  .container-img-bannerContacto {
    max-width: 32rem;
  }
}
@media (max-width: 576px) {
  .title-bannerContacto {
    text-align: center;
  }
  .container-img-bannerContacto {
    max-width: 25rem;
  }
}
@media (max-width: 425px) {
  .title-bannerContacto {
    font-size: 46px;
  }
  .subtitle-bannerContacto {
    font-size: 28px;
  }
}

/*# sourceMappingURL=style.css.map */
