
/*===========================NAVBAR ================================================================================*/ 

.navbar {
    color: black;
    background-color: black;
    border-bottom: white;
    border-style: solid;
    border-width: 0.0625rem;
    padding: 20px 0px;

    .nav-container {
        color: black;
        background-color: black;
        margin-right: 1rem;
        display: flex;
        gap: 1.5rem;

        .navlogo {
            margin-left: 0.50rem;
        }

        .navbar-toggler {
            color: #ffffff;
            justify-content: right;
        }

        .navbar-collapse {
            justify-content: right;

            .nav-link.active {
                font-size: 1.25rem;
                margin: 0rem 0.7rem;
                color: #ffffff;
            }
        }
    }
}

@media (max-width:1024px) {
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
    }

}
