@import "navbar";
@import "footer";
@import "reset-html";
@import "root";

/*================================ PAGE INDEX =================================================================================*/

/*===================================================================
======================SECTION BANNER=========================*/

.sec-banner {
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;
    padding: 5rem 3rem;

    .sec-banner-container {
        margin: 0;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3rem;

        .container-content-banner {
            width: 50%;

            .banner-container {
                margin-bottom: 2.5rem;
                display:flex;
                flex-direction: column;
                gap: 1rem;
    
                .subtitle-banner {
                    font-size: 2rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
        }

        .container-img-banner {
            width: 50%;
        }
    }
}

@media (max-width:1024px) {

    .sec-banner {
        display: flex;
        justify-content: center;
        height: 80vh;

        .sec-banner-container {
            width: 100%;
            height: 100% ;
            margin: 0;
            gap: 1rem;
        }
    }
}

@media (max-width:768px) {

    .sec-banner {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 4rem 2rem 3rem 2rem;
        margin-bottom: 2rem;

        .sec-banner-container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            .container-content-banner {
                width: 100%;

                .banner-container {
                    margin-bottom: 1.5rem;
                    display:flex;
                    flex-direction: column;
                    gap: 1rem;

                    .title-banner {
                        text-align: center;
                    }

                    .subtitle-banner {
                        text-align: center;
                    }
                }

                .container-button-banner {
                    text-align: center;
                }
            }

            .container-img-banner {
                display: flex;
                justify-content: center;
                width: 70%;
                margin: 0;

                .img-fluid {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width:425px) {

    .sec-banner {
        padding: 3rem 1rem;
        margin: 0;
        height: auto;
    
        .sec-banner-container {
            margin: 0;

            .container-img-banner {
                width: 100%;
                margin: 0;
            }
        }
    }
}

/*===================================================================
==================SECTION HEADER=====================================*/

.sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;

    .sec-header-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sec-header-container-content {
            font-size: 4.768rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width:1024px) {

    .sec-header .sec-header-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:768px) {

    .sec-header {
        padding: 3rem 2rem;

        .sec-header-container {
            width: 100%;

            .sec-header-container-content {
                font-size: 64px ;
            }
        }
    }
}

@media (max-width:425px) {

    .sec-header {
        padding: 3rem 1rem;

        .sec-header-container {
            width: 100%;

            .sec-header-container-content {
                font-size: 56px ;
            }
        }
    }
}

/*===================================================================
==================FEATURES=========================*/


.sec-features {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    .sec-features-container {
        padding: 0;
        display: flex;
        align-items: center;
        gap: 3rem;

        .sec-features-container-img {
            padding: 0;
            width: 40%;
        }

        .sec-features-container-content {
            padding: 0;
            width: 60%;

            .content-steps {
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;

                .content-steps-item {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 2rem;

                    .step-number {
                        width: 15.625rem;
                        font-size: 6.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        align-content: flex-start;
                    }

                    .step-content {
                        padding-top: 1rem;
                        max-width: 100%;

                        .step-title {
                            max-width: 100%;
                            margin-bottom: 0.625rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:768px) {

    .sec-features {
        padding: 3rem 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2.5rem;

        .sec-features-container {
            display: flex;
            flex-direction: column;
            gap: 4rem;

            .sec-features-container-img {
                width: 80%;
            }
        
            .sec-features-container-content {
                width: 100%;
                display: flex;
            }
        }
    }
}

@media (max-width:425px) {

    .sec-features {
        padding: 3rem 1rem;

        .sec-features-container {
        gap: 4rem;

            .sec-features-container-content {
                padding: 0;

                .content-steps {
                    padding: 0;

                    .content-steps-item {
                        gap: 2rem;

                        .step-content {
                            padding-top: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

/*===================================================================
================SECTION PORTFOLIO=========================*/

.sec-portfolio {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    .container-title-Portfolio {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 0.5rem;
    }

    .content-portfolio {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        .content-portfolio-grid {
            padding: 0;
            display: grid;
            grid-template-areas:
            "container-card1 container-card2"
            "container-card3 container-card4";
            column-gap: 2rem;
            row-gap: 2rem;
            justify-content: center;

            .container-card1, .container-card2, .container-card3, .container-card4  {
                max-width: 35rem;
                padding-right: 0;
                background-color: transparent;
                padding-left: 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                border: 0.03125rem solid white;

                .card-title {
                    color: white;
                }

                .card-text-button {
                    font-style: normal;
                    font-weight: 400;
                    height: 0.75rem;
                    align-content: flex-start;
                    color: #1890FF;
                }
            }
        }
    }
}

@media (max-width:768px) {

.sec-portfolio {
    padding: 3rem 2rem;

    .container-title-Portfolio {
        gap: 1rem;

        }

        .content-portfolio {

            .content-portfolio-grid {
                display: grid;
                grid-template-areas:
                "container-card1"
                "ccontainer-card2"
                "ccontainer-card3"
                "ccontainer-card4";
                column-gap: 3rem;
                row-gap: 2rem;
                justify-content: center;
            }
        }
    }
}

@media (max-width:576px) {

    .content-portfolio-grid {
        display: grid;
        grid-template-areas:
        "container-card1"
        "ccontainer-card2"
        "ccontainer-card3"
        "ccontainer-card4";
        column-gap: 3rem;
        row-gap: 2rem;
        justify-content: center;
    }
}


@media (max-width:425px) {
    .sec-portfolio {
        padding: 3rem 1rem;

        .content-portfolio {
            padding-left: 0;
            padding-right: 0;
    
            .content-portfolio-grid {
                padding-left: 0;
                padding-right: 0;
            }
        }   
    }
}

/*===================================================================
================INICIO SECTION PRICING INDEX=========================*/

#pricing {
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;

    .pricing-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0.5rem;
    }

    .pricing-content {
        display: flex;
        align-items: center;
        gap: 3.125rem;
        align-self: stretch;

        .pricing-content-card {
            background: #1890FF;
            border: 0.0625rem white solid;
            border-radius: var(--bs-border-radius);
            display: flex;
            padding: 2rem;
            flex-direction: column;
            align-items: flex-start;
            gap: 2rem;

            .pricing-card-title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 1rem;

                .card-price {
                    font-size: 3.5rem;
                    margin: 0px;
                }
            }

            .card-content {
                padding: 1rem 0rem 2rem;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1rem;
                align-self: stretch;
                border-top: 0.0625rem white solid;
                border-bottom: 0.0625rem white solid;

                .card-content-list {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1rem;
                    margin: 0px;

                    .card-item {
                        display: flex;
                        align-items: flex-start;
                        gap: 1rem;
                        align-self: stretch;

                        .item-text {
                            margin: 0px;
                        }
                    }
                }
            }
            
            .pricing-button {
                width: 100%;
                height: 3rem;
                border-radius: var(--bs-border-radius);
                display: flex;
                padding: 0.75rem 1.5rem;
                justify-content: center;
                align-items: center;
                gap: 0.25rem;
                align-self: stretch;
                font-size: 1.125rem;
            }
        }
    }
}

@media (max-width:768px) {

    #pricing {
    padding: 3rem 2rem;

        .pricing-content {
        display: flex;
        flex-direction: column;
        }
    }
}

@media (max-width:576px) {

    #pricing  {
        padding: 3rem 1rem;

        .pricing-content {
            padding-left: 0;
            padding-right: 0;

            .card-content-list {
                padding: 0;
            }
        }
    }
}

@media (max-width:425px) {

    .pricing-content {
        padding-left: 0;
        padding-right: 0;

        .card-content-list {
            padding: 0;
        }
    }
}

/*===================================================================
================INICIO SECTION FORMULARIO=========================*/

.sec-form {
    display: flex;
    padding: 5rem 3rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;

    .sec-form-container {
        display: flex;
        align-items: flex-start;
        gap: 2.5rem;
        align-self: stretch;

        .form-description {
            display: flex;
            width: 50%;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;
            flex: 1 0 0;

            .form-title-container {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 1.5rem;
                align-self: stretch;
            }

            .form-contact {
                display: flex;
                padding: 0.25rem 0;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;

                .form-contact-item {
                    display: flex;
                    align-items: flex-start;
                    gap: 0.5rem;
                }
            }
        }

        .Form {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
            flex: 1 0 0;

            .form-input {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.25rem;
                align-self: stretch;

                .form-style {
                    border-radius: var(--bs-border-radius);
                    display: flex;
                    height: 3rem;
                    padding: 0.375rem;
                    align-items: center;
                    gap: 0.25rem;
                    align-self: stretch;
                }

                .form-style-textarea {
                    margin-bottom: 1rem;
                    border-radius: var(--bs-border-radius);
                    display: flex;
                    height: 9.75rem;
                    padding: 0.375rem;
                    align-items: flex-start;
                    align-self: stretch;
                }                
            }
        }
    }

}

@media (max-width:768px) {
    .sec-form {
        padding: 3rem 2rem;

        .sec-form-container {
            display: flex;
            flex-direction: column;

            .form-description {
            width: 100%;

                .form-title-container {
                    width: 100%;
                    align-items: center;

                    .form-title {
                        text-align: center;
                    }
                }

                .form-contact {
                width: 100%;

                    .form-contact-item {
                    width: 100%;
                    justify-content: center;
                    }
                }
            }

                    .Form{
            width: 100%;
            }
        }
    }
}

@media (max-width:576px) {

    .sec-form  {
        padding: 3rem 1rem;
    }
}
/*=============================================================================================================================
=================================== PAGE SERVICIOS =================================================================================*/

.sectionBanner-Srv1 {
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 7rem 3rem;
}

.container-banner-Srv1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.banner-contenido-Srv1 {
    margin-bottom: 2.5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.sectionBanner-Srv2 {
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 7rem 3rem;
}

.container-banner-Srv2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.banner-contenido-Srv2 {
    margin-bottom: 2.5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}


.section-Pricing {
    padding: 7rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.tituloPrincing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.textoPricing {
    margin: 0;
}

.contenidoPricing {
    display: flex;
    align-items: center;
    gap: 4rem;
    align-items: flex-start;
}

.listaDescripcion {
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.itemLista {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    align-self: stretch;
}

@media (max-width:1024px)   {

    .contenidoPricing {
        display: flex;
        align-items: center;
        gap: 2rem;
        align-items: flex-start;
    }

    .detallePricing {
        padding: 0;
    }
    
}

@media (max-width:768px) {

    .sectionBanner-Srv1,.sectionBanner-Srv2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 4rem 3rem;
    }

    .container-banner-Srv1, .container-banner-Srv2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .banner-contenido-Srv1 {
        justify-content: center;
        
    }

    .text-banner-Srv1, .text-banner-Srv2 {
        text-align: center;
    }

    .section-Pricing {
        padding: 4rem 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem;
    }

}

    @media (max-width:576px) {

        .sectionBanner-Srv1,.sectionBanner-Srv2 {
            padding: 3.5rem 1.5rem;
        }

        .section-Pricing {
            padding: 2rem 1.5rem;
        }

}

@media (max-width:425px) {

    .sectionBanner-Srv1,.sectionBanner-Srv2 {
        padding: 3.5rem 1rem;
    }

    .section-Pricing {
        padding: 2rem 1rem;
    }

}

/*=============================================================================================================================
=================================== PAGE TEMPLATES =================================================================================*/


.sectionBannerTemplates {
    display: flex;
    padding: 3.5rem 2rem;
    flex-direction: column;
    align-items: center;
    gap: 2.25rem;
    overflow: hidden;
}

.containerBannerTemplates {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.contenidoBannerTemplates {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    align-self: stretch;
}

.tituloBannerTemplates {
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
}

.subtituloBannerTemplates {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
}

.container-button-templates {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.containerImagenesBannerTemplates {
    display: flex;
    height: 33.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.imagenesBannerTemplates {
    display: flex;
    height: 33.3125rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.filaImagenesBanner1 {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 24.444rem);
    margin-left: -10rem;
    column-gap: 1rem;
    grid-area: "imagBanner1 imagBanner2 imagBanner3 imagBanner4 imagBanner5 imagBanner6";
}

.filaImagenesBanner2 {
    margin-left: -5rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(6, 24.444rem);
    column-gap: 1rem;
    grid-area: "imagBanner7 imagBanner8 imagBanner9 imagBanner10 imagBanner11 imagBanner12";
}


/*===================================================================
==================SECTION HEADER TEMPLATES=====================================*/

.sectionHeaderTemplates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.headerContainerTemplates {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContentTmplts {
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (max-width:576px) {

    .headerContentTmplts {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/*===================================================================
==================SECTION FEATURES TEMPLATES=====================================*/

.sectionFeaturesTemplates {
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.containerListFeatures {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    align-self: stretch;
}

.listaFeatures {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    align-self: stretch;
}

.itemListaFeatures {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

@media (max-width:768px) {

    .listaFeatures {
        display: flex;
        flex-direction: column;
    }

}

/*===================================================================
==================SECTION PLANTILLAS=====================================*/

.sectionPlantillas {
    display: flex;
    padding: 4rem 2rem 7rem 2rem;
    justify-content: center;
    flex-direction: column;
    gap: 2.5rem;
}

.containerTituloPlantillas {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-self: stretch;
    text-align: center;
}

.tituloSubtituloPlantillas {
    display: flex;
    justify-content: center;
}

.listaPlantillas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.GridPlantillas {
    display: grid;
    grid-template-areas:
    "Plantilla1 Plantilla2 Plantilla3"
    "Plantilla4 Plantilla5 Plantilla6"
    "Plantilla7 Plantilla8 Plantilla9";
    column-gap: 3rem;
    row-gap: 3rem;
    justify-content: center;
}

.Plantilla1 {
    padding: 0;
    grid-area: Plantilla1;
}

.Plantilla2 {
    padding: 0;
    grid-area: Plantilla2;
}

.Plantilla3 {
    padding: 0;
    grid-area: Plantilla3;
}

.Plantilla4 {
    padding: 0;
    grid-area: Plantilla4;
}

.Plantilla5 {
    padding: 0;
    grid-area: Plantilla5;
}

.Plantilla6 {
    padding: 0;
    grid-area: Plantilla6;
}

.Plantilla7 {
    padding: 0;
    grid-area: Plantilla7;
}

.Plantilla8 {
    padding: 0;
    grid-area: Plantilla8;
}

.Plantilla9 {
    padding: 0;
    grid-area: Plantilla9;
}

.contentItemPlantillas {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.titleItemPlantillas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media (max-width:768px) {
    .GridPlantillas {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
        grid-template-rows: repeat(5, auto); /* 5 filas */
        grid-template-areas:
            "Plantilla1 Plantilla2"
            "Plantilla3 Plantilla4"
            "Plantilla5 Plantilla6"
            "Plantilla7 Plantilla8"
            "Plantilla9 Plantilla10"; /* Repites el nombre de la última área para llenar la cuadrícula */
    }
}

@media (max-width:576px) {

    .GridPlantillas {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 2 columnas */
        grid-template-rows: repeat(9, auto); /* 5 filas */
        grid-template-areas:
        "Plantilla1"
        "Plantilla2"
        "Plantilla3"
        "Plantilla4"
        "Plantilla5"
        "Plantilla6"
        "Plantilla7"
        "Plantilla8"
        "Plantilla9";
        column-gap: 1rem;
        row-gap: 1rem;
        justify-content: center;
    }

}


/*=============================================================================================================================
=================================== PAGE FAQ =================================================================================*/


.sectionFaq {
    padding: 7rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
}

.containerTitleFaq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.containerFaq {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
}

.itemFaq {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    align-self: stretch;
    padding-top: 1.5rem;
    border-top: 0.0625rem white solid;
}

.preguntaFaq {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    width: 50%;
}

.respuestaFaq {
    width: 50%;
}

.containerHelp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.contentHelp {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    align-self: stretch;
}

.buttonHelp {
    background-color: #1890FF;
    color: white;
    font-size: 1rem;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.625rem;
    justify-content: center;
    height: 3rem;
    text-decoration: none;
}

/*=============================================================================================================================
=================================== PAGE CONTACTO =================================================================================*/

.sectionBannerContacto {
    display: flex;
    height: 80vh;
    align-items: center;
    padding: 7rem 1rem;
}

.bannerContainerContacto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    gap: 2rem;
}

.bannerContenidoContacto {
    margin-bottom: 2.5rem;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.subtitle-bannerContacto {
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.contactoFormulario {
    width: 60%;
    display: flex;
    padding: 0.25rem 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

@media (max-width:768px) {

    .sectionBannerContacto {
        display: flex;
        flex-direction: column;
        height: 100vh;
        align-items: center;
        padding: 3rem 1rem;
    }

    .bannerContainerContacto {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .bannerContenidoContacto {
        justify-content: center;
        
    }

    .title-bannerContacto {
        text-align: center;
    }

    .subtitle-bannerContacto {
        text-align: center;
    }

    .container-button-bannerContacto {
        text-align: center;
    }

    .container-img-bannerContacto {
        max-width: 32rem;
    }
}

@media (max-width:576px) {

    .title-bannerContacto {
        text-align: center;
    }


    .container-img-bannerContacto {
        max-width: 25rem;
    }

}

@media (max-width:425px) {

    .title-bannerContacto {
        font-size: 46px;
    }

    .subtitle-bannerContacto {
        font-size: 28px;
    }
}