/*===================================================================
==================SECTION HEADER TEMPLATES=====================================*/

.sec-header-tmplts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;

    .sec-header-tmplts-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sec-header-tmplts-container-content {
            font-size: 3.5rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width:576px) {

    .sec-header-tmplts .sec-header-tmplts-container .sec-header-tmplts-container-content {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        text-align: center;
    }
}