/*===================================================================
==================SECTION HEADER=====================================*/

.sec-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 3rem;

    .sec-header-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sec-header-container-content {
            font-size: 4.768rem;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }
}

@media (max-width:1024px) {

    .sec-header .sec-header-container {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:768px) {

    .sec-header {
        padding: 3rem 2rem;

        .sec-header-container {
            width: 100%;

            .sec-header-container-content {
                font-size: 64px ;
            }
        }
    }
}

@media (max-width:425px) {

    .sec-header {
        padding: 3rem 1rem;

        .sec-header-container {
            width: 100%;

            .sec-header-container-content {
                font-size: 56px ;
            }
        }
    }
}
